.App {
  text-align: center;
}

.zoomin{
  color:#ffffff !important;
}
  .imgLarge{
    position:relative !important;
  }

  .fas.closeBtn{
    position:absolute !important;
    right: 0.7rem;
    top: 0.5rem;
    width:1.2rem;
    cursor:pointer;     
     text-align:right !important;
    background:none !important;   
    padding:0 !important;
    color:#ffffff;
    text-shadow: 1px 1px 2px #000000;
    
  }

  .MuiDialogTitle-root.closeIcon{
    padding:0 !important;
  }
  